body {
  background-color: #5c89c7;
}

.title {
  text-align: center;
  font-size: 34px;
}

img{
  width: 15px;
  height:15px;
}

.boardWrapper {
  background-color: #e6e8de;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid black;
  margin-bottom: 20px;
}
.wrapper{
  background-color: rgba(256, 256, 256, 0.3);
}


section {
  padding: 0px 10px;
}

section .username {
  color: green !important;
  font-weight: 700;
}

section .nameArea {
  display: flex;
  align-items: center;
  margin-bottom: -14px;
}

section .comment {
  margin-top: 0;
  margin-left: 20px;
}

.success_message {
  color: green;
  padding-left: 10px;
}

.error_message {
  color: red;
  padding-left: 10px;
}

.formWrapper {
  padding: 16px;
  margin-left: 20px;
}

.commentTextArea {
  margin-top: 10px;
  width: 500px;
  height: 90px;
}
